* {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

a,
img {
	border: 0;
}

#scImg {
	width: 260px;
	height: 180px;
	background-color: #00A3E4;
	margin: 0 auto;
}

#introduce {
	text-align: justify;
	width: 270px;
	height: 120px;
	color: white;
	text-indent: 2em;
	padding-top: 10px;
}


/* b_map */

.b_map {
	width: 1300px;
	background: url(../../images/top_dt.png) no-repeat 100px 0px;
	background-size: 1050px 550px;
	height: 600px;
	margin: 0 auto;
}

.e_map_tags {
	z-index: 1;
	position: relative
}

.e_map_tags li {
	width: 25px;
	height: 35px;
	z-index: 1;
	position: absolute;
	padding-bottom: 8px;
	display: block;
	font: bold 14px/25px simsun, arial, sans-serif;
	background: url(../img/pp2.png) no-repeat 0px 0px;
	background-size: 25px 35px;
	color: black;
	top: 0px;
	cursor: pointer;
	left: 0px;
	transition: transform 1s;
}

.e_map_tags li span {
	width: 60px;
	font-family: "Microsoft YaHei";
	position: absolute;
	top: -25px;
	display: none;
}


/*城市坐标  */

.e_map_tags .m_nanjing {
	top: 190px;
	left: 760px;
}

.e_map_tags .m_riben {
	top: 187px;
	left: 859px;
}

.e_map_tags .m_malaixiya {
	top: 317px;
	left: 745px;
}

.e_map_tags .m_yuenan {
	top: 265px;
	left: 714px;
}

.e_map_tags .m_ningbo {
	top: 215px;
	left: 778px;
}

.e_map_tags .m_guangzhou {
	top: 250px;
	left: 770px;
}

.e_map_tags .m_guangzhou {
	top: 237px;
	left: 743px;
}

.e_map_tags .m_yinni {
	top: 334px;
	left: 684px;
}

.e_map_tags .m_miandian {
	top: 251px;
	left: 653px;
}

.e_map_tags .m_yindu {
	top: 267px;
	left: 567px;
}

.e_map_tags .m_mengjiala {
	top: 240px;
	left: 620px;
}

.e_map_tags .m_bajisitan {
	top: 233px;
	left: 527px;
}

.e_map_tags .m_shate {
	top: 235px;
	left: 397px;
}

.e_map_tags .m_yemen {
	top: 265px;
	left: 417px;
}

.e_map_tags .m_suomali {
	top: 317px;
	left: 403px;
}

.e_map_tags .m_keniya {
	top: 337px;
	left: 375px;
}

.e_map_tags .m_tuerqi {
	top: 173px;
	left: 340px;
}

.e_map_tags .m_aiji {
	top: 230px;
	left: 335px;
}

.e_map_tags .m_yidali {
	top: 160px;
	left: 249px;
}


/*//城市坐标  */

.e_map_tags li:hover {
	transform: scale(1.1, 1.1);
	/* for Chrome || Safari */
	-webkit-transform: scale(1.1, 1.1);
	/* for Firefox */
	-moz-transform: scale(1.1, 1.1);
	/* for IE */
	-ms-transform: scale(1.1, 1.1);
	/* for Opera */
	-o-transform: scale(1.1, 1.1);
}

.e_map_tags li.hover,
.e_map_tags .centers {
	background: url(../img/pp1.png) no-repeat 0px 0px;
	background-size: 25px 35px;
	transform: scale(1.1, 1.1);
	/* for Chrome || Safari */
	-webkit-transform: scale(1.1, 1.1);
	/* for Firefox */
	-moz-transform: scale(1.1, 1.1);
	/* for IE */
	-ms-transform: scale(1.1, 1.1);
	/* for Opera */
	-o-transform: scale(1.1, 1.1);
}

.e_map_info {
	z-index: 2;
	position: relative;
	margin-left: 280px;
	margin-top: -40px;
}

.e_map_info .m_content {
	z-index: 1;
	position: absolute;
	padding: 15px 5px;
	width: 280px;
	display: block;
	top: 0px;
	left: 0px;
	border-radius: 30px;
	color: black;
}

.e_map_info .hide {
	display: none;
}

.e_map_info .m_content i {
	z-index: 1;
	position: absolute;
	width: 8px;
	bottom: -8px;
	display: block;
	background: url(../img/map_idx1.png) no-repeat 0px 0px;
	height: 8px;
	overflow: hidden;
	right: -1px;
	_right: -2px;
}

.e_map_info .m_content h4 {
	padding-left: 180px;
	font: 16px/33px "microsoft yahei", simsun, arial, sans-serif;
	margin-bottom: 18px;
	background: url(../img/map_qunar.jpg) no-repeat 0px 0px;
}


/*城市内容  */

.e_map_info .m_content p {
	font-family: 'STFangsong';
	font: 20px/22px;
}

.e_map_info .m_nanjing {
	top: 83px;
	left: 748px;
}

.e_map_info .m_riben {
	top: 83px;
	left: 748px;
}

.e_map_info .m_malaixiya {
	top: 83px;
	left: 748px;
}

.e_map_info .m_yuenan {
	top: 83px;
	left: 748px;
}

.e_map_info .m_ningbo {
	top: 83px;
	left: 748px;
}

.e_map_info .m_guangzhou {
	top: 83px;
	left: 748px;
}

.e_map_info .m_yinni {
	top: 83px;
	left: 748px;
}

.e_map_info .m_miandian {
	top: 83px;
	left: 748px;
}

.e_map_info .m_yindu {
	top: 83px;
	left: 748px;
}

.e_map_info .m_mengjiala {
	top: 83px;
	left: 748px;
}

.e_map_info .m_bajisitan {
	top: 83px;
	left: 748px;
}

.e_map_info .m_shate {
	top: 83px;
	left: 748px;
}

.e_map_info .m_yemen {
	top: 83px;
	left: 748px;
}

.e_map_info .m_suomali {
	top: 83px;
	left: 748px;
}

.e_map_info .m_keniya {
	top: 83px;
	left: 748px;
}

.e_map_info .m_tuerqi {
	top: 83px;
	left: 748px;
}

.e_map_info .m_aiji {
	top: 83px;
	left: 748px;
}

.e_map_info .m_yidali {
	top: 83px;
	left: 748px;
}


/*//城市内容  */


/*m_content_side*/

.m_content_side {
	height: 1px;
	width: 100%;
	position: relative;
}

.m_content_side a {
	position: absolute;
	top: 0;
	z-index: 2;
	float: left;
	width: 30px;
	height: 30px;
	padding-top: 15px;
}

.m_content_side a img {
	width: 30px;
	height: 30px;
}

.m_content_side a.m_left {
	left: 0px;
}

.m_content_side a.m_right {
	right: 0;
}