#bannerbj {
	width: 100%;
	height: 700px;
	padding-top: 110px;
	background-image: url(../img/bj.jpg);
	background-size: 100% 700px;
	background-repeat: no-repeat;
}

#main {
	position: relative;
	width: 1200px;
	height: 600px;
	margin: 0 auto;
}
#rainbow{
	position: absolute;
	width: 1070px;
	height: 724px;
	left: 70px;
	bottom: 100px;
	background-image: url(../img/rainbow.png);
}
#cloud1{
	position: absolute;
	width: 650px;
	height: 481px;
	right: 150px;
	bottom: 50px;
	background-image: url(../img/cloud1.png);
	background-size: 650px 481px;
	opacity: 0.9;
}
#cloud2{
	position: absolute;
	width: 650px;
	height: 650px;
	right: 400px;
	top: -100px;
	background-image: url(../img/cloud2.png);
	background-size: 650px 650px;
	opacity: 0.9;
}
#cloud3{
	position: absolute;
	width: 650px;
	height: 300px;
	right: 150px;
	background-image: url(../img/cloud3.png);
	background-size: 650px 300px;
	opacity: 0.9;
}
#earth{
	width: 590px;
	height: 480px;
	background-image: url(../img/earth.png);
	background-size: 590px 480px;
	margin: 65px auto;
}
