body {
	background-image: url(../../images/bg.png);
}

#main {
	position: relative;
	width: 100%;
}

#main .content {
	width: 70%;
	margin: 0 auto;
	padding-top: 200px;
}

hr {
	border: 1px solid #794726;
}

#main .pic-l {
	width: 155px;
	height: 155px;
	background: url(../../images/title2.png) no-repeat;
}

#main hr {
	display: inline-block;
	width: 350px;
}

#main .pic-r {
	display: inline-block;
	width: 160px;
	height: 40px;
	background: url(../../images/titleword.png) no-repeat;
}

#main .content .show {
	width: 80%;
	background: url(../images/bk.png);
	margin: 0 auto;
	border-top: 9px solid #C0A16B;
	border-bottom: 6px solid #C0A16B;
	border-radius: 5px;
	overflow: hidden;
	background-color: tan;
	box-shadow: 5px 5px 5px #888888;
}

#main .content .show img {
	display: block;
	width: 90%;
	height: 80%;
	padding: 20px;
	margin: 0 auto;
}

#main .content .show h1 {
	font-family: 黑体;
	text-align: center;
	padding: 50px;
}

#main .content .show h2 {
	font-family: 黑体;
	padding: 20px;
}

#main .content .show h3 {
	font-family: 黑体;
	text-align: left;
	padding: 40px 20px;
}

#main .content .show p {
	font: 16px 微软雅黑;
	text-indent: 2em;
	padding: 10px 20px;
}

#main .content .show .vidoes {
	display: block;
	margin: 0 auto;
	width: 700px;
	height: 600px;
	text-align: center;
}

#main .content .show .til {
	display: block;
	margin-top: 40px;
	font: 30px 黑体;
}

#main .content .show .links {
	width: 100%;
	height: 200px;
}

#main .content .show .links .btn {
	width: 100px;
	height: 26px;
	margin-bottom: 10px;
	background: url(../images/button.png);
}

#main .content .show .links ul {
	display: block;
	width: 90%;
	margin: 0 auto;
	border-top: 3px dashed #C0A16B;
}

#main .content .show .links ul li a {
	font-size: 20px;
	color: green;
}