.TV {
	width: 100%;
	height: 700px;
	padding-top: 180px;
	background-image: url(../tv/world.jpg);
	background-size: 100% 100%;
}

.middle {
	width: 688px;
	height: 500px;
	margin: 0 auto;
	background-image: url(../images/tv.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	padding-top: 29px;
	padding-right: 4px;
}

.playTV {
	width: 623px;
	height: 350px;
	margin: 0 auto;
	background-image: url(../tv/eye.jpg);
}

.bj {
	position: absolute;
	width: 623px;
	height: 350px;
	background-image: url(../tv/eye.jpg);
	z-index: 2;
}